
<div class="body">
    <header class="header">
        <div class="logo">
            <div class="image1">
            </div>
        </div>

    </header>

    <div class="contener">

        <div class="text_welcome">
            Welcome to course

        </div>
        <button class="button_login  ">
            <div class="button_google"></div>
            <div class="button_text" (click)="login()"  >Sign In with Google </div>

        </button>
    </div>


        <div class="agree_text">
            You agree to our Terms of Use and Privacy Policy
        </div>
        <input type="checkbox" id="agree_checkbox" />



   

    

</div>
<app-footer></app-footer>
