<div class="footer">
    <div class="leverInf_footer">
        2021 ©Alexsander  Int. All Rights Reserved.

    </div>
    <div class="support_footer">
        support

    </div>
    <div class="socialNetwork_footer">
        <div class="inst_footer">
            <div class="img_inst_footer"></div>
        </div>

        <div class="tg_footer">
            <div class="img_tg_footer"></div>
        </div>
        <div class="f_foorter">
            <div class="img_f_foorter"></div>
        </div>

    </div>

</div>